@{
    Layout = "../Shared/_InHandLayout.cshtml";
}

<!-- Menu App Interface
<!-- Based on a Dribbble shot
<!-- that caught my eye 
<!-- http://drbl.in/pWyx
<!-- ---------------------------------- -->

@section StyleSheet{    
    <environment include="Development">
        <!--render from main page dev-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/twitter.css" />
    </environment>
    <environment exclude="Development">
        <!--render from main page-->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/twitter.css" asp-append-version="true" />
    </environment>
}

<div class="twitter-widget">
  	<div class="header cf">
        <a href="https://twitter.com/kayrel" target="_blank" class="avatar">
            <img src="http://cameronbaney.com/codepen/twitter-widget/avatar.jpg" alt="Edwin Delgado">
        </a>
        <h2>Edwin Delgado @@kayrel</h2>
        <p>I do not recall how I came into existence.<br>Something to do with my dad and mom.</p>
    </div>
    <div class="stats cf">
        <a href="#" class="stat">
            <strong>1,250</strong>
            tweets
        </a>
        <a href="#" class="stat">
            <strong>60</strong>
            following
        </a>
        <a href="#" class="stat">
            <strong>117</strong>
            followers
        </a>
    </div>
    <ul class="menu cf">
        <li><a href="#" class="ico-compose">Compose</a></li>
        <li><a href="#" class="ico-mentions">Mentions</a></li>
        <li><a href="#" class="ico-profile">Profile</a></li>
        <li><a href="#" class="ico-settings">Settings</a></li>
    </ul>
</div>

<p class="intro">Dribbble Rebound of <a target="_blank" href="http://dribbble.com/shots/833870-Rebound-Twitter">Rebound Twitter</a> by <a target="_blank" href="http://dribbble.com/Kayrel">Edwin Delgado</a></p>

@section Scripts{
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/twitter.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/twitter.js" asp-append-version="true"></script>
    </environment>
}

