body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', "FontAwesome", sans-serif;  
    color: rgba(255,255,255, .8);  
}

h1 {    
    text-align: center;    
    font-size: 25px;
	font-weight: 300;
    color: #807F7D;
}

h1>a, h1>a:hover{
    text-decoration: none;
    color: #888888;
}

.content{
    width: 267px;
    margin: 50px auto;
}

.content .mainBar{
    width: 100%;
    height: 55px;
    display: inline-block;
    background-color: #4B4B4A;
    color: rgba( 255, 255, 255, 0.8 );
    font-size: 15px;
	font-weight: 300;
}

.content .mainBar div{
    width: 100px;
    height: 100%;
    padding: 5px;
    float: left;
    text-align: center;
    padding-top: 16px;
    border-right: 1px solid #25251b;
}

.content .mainBar .cog{
    width: 67px;
    height: 100%;
    padding: 5px;
    padding-top: 18px;
    text-align: center;
    float: left;
}

.content .mainBar div:hover, .content .mainBar .cog:hover{
    cursor: pointer;
    background: #807F7D;
    color: #E7E7E8;
}

.liked:before { content: "\f00c"; margin-right: 5px; font-size: 13px; position: relative; bottom: 1px; color: #FFFFFF; }
.listen:before { content: "\f0da"; margin-right: 7px; font-size: 14px; color: #FFFFFF; }
.cog:after { content: "\f0d7"; margin-left: 10px; font-size: 12px; color: #FFFFFF; }

.menu {
    width: 100%;    
    float: left;
    background-color: #4DAF7C;
}

.menu>a {
    display: block;
    line-height: 42px;
    padding-left: 36px;
    position: relative;
    color: rgba(255,255,255, .8);
    text-decoration: none;
}

.menu>a:hover{
    background-color: #7EC29C;
    color: #fff;
}

.menu>a:after
{
	opacity: 0;
	content: "\f0da";
	position: absolute;
	right: 0;
	margin-right: 10px;
	font-size: 14px;
}

.menu>a:hover:after { opacity: 1; }

input#toggle { display: none; }
input#toggle ~ .menu { display: block; }
input#toggle:checked ~ .menu { display: none; }